@import "tailwindcss";

@import "./reset.css" layer(base);
@import "./variables.css" layer(base);
@import "./global.css" layer(base);

@theme {
  --font-body: "Jost", sans-serif;
  --font-heading: "Playfair Display", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
