:root {
  /*Color Background*/
  --bg-page: #dddbd9;

  /*Color Navigation Folders*/
  --color-folder-1: #f1e4d2;
  --color-folder-2: #cbb093;
  --color-folder-3: #a99886;
  --color-folder-4: #98846e;
  --color-folder-5: #7d6f60;

  --color-base: #f3e6d4;
  --color-1: #cbb093;
  --color-2: #c18d66;
  --color-3: #a4624d;
  --color-4: #8d957e;

  /*Color Text*/
  --color-text-dark: #4b2d23;
  --color-text-vivid: #a4624d;
  --color-text-light: #f3e6d4;

  /*Shadows*/
  --shadow-soft: 0 8px 24px rgba(0, 0, 0, 0.12);
  --shadow-folder: 0 -14px 16px -1px rgba(0, 0, 0, 0.1);
  --shadow-paper: 2px 2px 28px rgb(0 0 0 /0.12);
  --shadow-photo: 0 18px 35px rgb(0 0 0 /0.18);
  --shadow-post-it: 4px 50px 38px rgb(0 0 0 /0.18);
  --shadow-side-post-it: 10px 0px 10px -8px rgb(0 0 0 / 0.18);

  /*Radius*/
  --radius-folder: 10px;
  --radius-paper: 6px;
  --radius-photo: 4px;

  /*Heights*/
  --navbar-height: 100px;
  --folder-step: 10px;
  --tab-step: 250px;
  --folder-body-height: 30px;
  --folder-tab-height: 40px;

  /*Spacing*/
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /*Z-index*/
  --z-photo: 20;
  --z-paper: 10;

  /* Durations */
  --duration-fast: 150ms;
  --duration-normal: 250ms;
  --duration-slow: 400ms;
}
