@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-base:#F3E6D4;
  --color-1:#CBB093;
  --color-2:#C18D66;
  --color-3:#A4624D;
  --color-4:#8D957E;
  --color-bg-navbar:#AA8B74;
  --color-text-dark:#4B2D23;
  --color-texto-1:#8B6B54;
}

body {
    background:#F3E6D4;
    font-family: 'Jost', 'Playfair', sans-serif;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}